<div class="lg:ml-64  w-full lg:w-4/5">
    <app-message-headder [title]="'Instagram_user'" />
    <app-story />
    <div class="flex justify-between w-full max-w-lg m-2 px-3">
        <p>Message</p>
        <p>Requests</p>
    </div>
    <ul class="max-w-lg divide-y divide-gray-200 dark:divide-gray-700 p-2 pb-16">
        @for (item of chatList; track $index) {
        <li class="py-2">
            <div class="flex items-center space-x-4 rtl:space-x-reverse">
                <div class="flex-shrink-0 m-1">
                    <img class="w-14 h-14 rounded-full" [src]="item.avatar" alt="Neil image">
                </div>
                <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                        {{item.userName}}
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                        {{item.message}}
                    </p>
                    <p class="text-xs text-gray-500 truncate dark:text-gray-400">
                        {{item.timeStamp}}
                    </p>
                </div>
                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                    @if (item.status== "unread") {
                    <span class="flex w-2 h-2 me-3 bg-blue-500 rounded-full"></span>
                    }
                </div>
            </div>
        </li>
        }
    </ul>

</div>