<div class="border-b border-gray-200 dark:border-gray-700 flex justify-center items-center">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab"
        data-tabs-toggle="#default-styled-tab-content"
        data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500"
        data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300"
        role="tablist">
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg flex gap-2" id="profile-styled-tab"
                data-tabs-target="#styled-profile" type="button" role="tab" aria-controls="profile"
                aria-selected="false">
                <svg fill="#000000" width="18px" height="18px" viewBox="0 0 32 32" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M30 32h-10c-1.105 0-2-0.895-2-2v-10c0-1.105 0.895-2 2-2h10c1.105 0 2 0.895 2 2v10c0 1.105-0.895 2-2 2zM30 20h-10v10h10v-10zM30 14h-10c-1.105 0-2-0.896-2-2v-10c0-1.105 0.895-2 2-2h10c1.105 0 2 0.895 2 2v10c0 1.104-0.895 2-2 2zM30 2h-10v10h10v-10zM12 32h-10c-1.105 0-2-0.895-2-2v-10c0-1.105 0.895-2 2-2h10c1.104 0 2 0.895 2 2v10c0 1.105-0.896 2-2 2zM12 20h-10v10h10v-10zM12 14h-10c-1.105 0-2-0.896-2-2v-10c0-1.105 0.895-2 2-2h10c1.104 0 2 0.895 2 2v10c0 1.104-0.896 2-2 2zM12 2h-10v10h10v-10z">
                    </path>
                </svg>
                Posts</button>
        </li>
        <li class="me-2" role="presentation">
            <button
                class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 flex gap-2"
                id="dashboard-styled-tab" data-tabs-target="#styled-dashboard" type="button" role="tab"
                aria-controls="dashboard" aria-selected="false">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1_484)">
                        <path d="M2.04883 7.00195H21.9498" stroke="#262626" stroke-width="2" stroke-linejoin="round" />
                        <path d="M13.5039 2.00098L16.3619 7.00198" stroke="#262626" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M7.20703 2.10999L10.002 7.00199" stroke="#262626" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M2 12.001V15.45C2 18.299 2.698 19.456 3.606 20.395C4.546 21.303 5.704 22.002 8.552 22.002H15.448C18.296 22.002 19.454 21.303 20.394 20.395C21.302 19.456 22 18.299 22 15.45V8.552C22 5.704 21.302 4.546 20.394 3.607C19.454 2.699 18.296 2 15.448 2H8.552C5.704 2 4.546 2.699 3.606 3.607C2.698 4.546 2 5.704 2 8.552V12.001Z"
                            stroke="#262626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.76308 17.664C9.62495 17.5843 9.51027 17.4696 9.43057 17.3314C9.35087 17.1933 9.30897 17.0365 9.30908 16.877V11.63C9.30889 11.4703 9.35078 11.3134 9.43053 11.175C9.51029 11.0367 9.62508 10.9218 9.76337 10.8419C9.90165 10.762 10.0585 10.7199 10.2182 10.72C10.378 10.72 10.5348 10.7621 10.6731 10.842L15.2181 13.466C15.3564 13.5458 15.4713 13.6606 15.5511 13.7988C15.631 13.937 15.6731 14.0939 15.6731 14.2535C15.6731 14.4132 15.631 14.57 15.5511 14.7083C15.4713 14.8465 15.3564 14.9613 15.2181 15.041L10.6731 17.665C10.5347 17.7449 10.3778 17.787 10.2181 17.787C10.0583 17.787 9.90142 17.7449 9.76308 17.665V17.664Z"
                            fill="#262626" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1_484">
                            <rect width="24" height="24" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                Reels</button>
        </li>
        <li class="me-2" role="presentation">
            <button
                class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 flex gap-2"
                id="settings-styled-tab" data-tabs-target="#styled-settings" type="button" role="tab"
                aria-controls="settings" aria-selected="false">
                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15 16C14.7164 14.8589 13.481 14 12 14C10.519 14 9.28364 14.8589 9 16M11 3H13M12 10H12.01M8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.0799 3 8.2V16.8C3 17.9201 3 18.4802 3.21799 18.908C3.40973 19.2843 3.71569 19.5903 4.09202 19.782C4.51984 20 5.0799 20 6.2 20H17.8C18.9201 20 19.4802 20 19.908 19.782C20.2843 19.5903 20.5903 19.2843 20.782 18.908C21 18.4802 21 17.9201 21 16.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H16M13 10C13 10.5523 12.5523 11 12 11C11.4477 11 11 10.5523 11 10C11 9.44772 11.4477 9 12 9C12.5523 9 13 9.44772 13 10Z"
                        stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Taggged</button>
        </li>
    </ul>
</div>
<div id="default-styled-tab-content">
    <div class="hidden p-2 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-profile" role="tabpanel"
        aria-labelledby="profile-tab">
        <div class="grid grid-cols-3 md:grid-cols-4 gap-1">

            @for (item of posts; track $index) {
            <div>
                <img class="h-auto max-w-full" [src]="item.image" alt="">
            </div>
            }

        </div>
    </div>
    <div class="hidden p-2 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-dashboard" role="tabpanel"
        aria-labelledby="dashboard-tab">
        <!--  -->
        <div class="grid grid-cols-3 md:grid-cols-4 gap-1">
            @for (item of reels; track $index) {
            <div>
                <img class="h-auto max-w-full" [src]="item.image" alt="">
            </div>
            }
        </div>
    </div>
    <div class="hidden p-2 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-settings" role="tabpanel"
        aria-labelledby="settings-tab">
        <!--  -->
        <div class="grid grid-cols-3 md:grid-cols-4 gap-1">
            @for (item of tagged; track $index) {
            <div>
                <img class="h-auto max-w-full" [src]="item.image" alt="">
            </div>
            }
        </div>
    </div>
</div>